# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file
#.terraform.lock.hcl

# Terraform workspace
.terraform/

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable override files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan
*.tfplan.*

# Ignore log files
crash.log
terraform.log
